{% extends "base_head.html" %}

{% block content %}

  <!-- ヘッダー -->
  <div id="header">
    <!--<p><big><big><big>GLN.Study　</big></big></big><small>- ホーム -</small></p>-->
    <div id="headtitle">GLN.Study　<small><small>- HOME -</small></small></div>
  </div>

  <div id="container">
  <div id="content">
  {% if user.is_authenticated %}
    <big>ようこそ {{ user.get_username }} さん .</big>
    <br><br><br>
    <big>お知らせ</big>
    <br>
    2017.02.05 GLN.Study(Ver0.03)作成<br>
    python(3.4.3) ＋ Django(1.9.2) ＋ Bootstrap(3.2.1)で作成。<br>
    GeekLab-Naganoのイメージカラーが黒と黄色のため（名刺がその色）、全体的に黒と黄色で作成。<br>
    <br>
    管理者権限ID：admin/hogefuga
    <br>
    一般権限ID  ：guest/hogefuga
    <br>
    <br>
    <br>
    <big>備品一覧の表示について</big><br>
    <p>
    不必要な項目は表示しないほうがスッキリしていいような感じがします。<br>
    [削除]ボタンでDBを削除していますが、削除をせずに非表示にするなどしたほうがいいと思います。状態に"廃棄"をを追加しています。こちらを　使用したほうがいいと思います。
    </p>
    <br>
    <br>
    <br>
  {% else %}
    <br>
    <p>ログインしてください. </p>
  {% endif %}
  </div>
  </div>

{% endblock content %}

