{% extends "base_head.html" %}

{% block content %}

  <!-- ヘッダー -->
  <div id="header">
    <!--<p><big><big><big>GLN.Study　</big></big></big><small>- ホーム -</small></p>-->
    <div id="headtitle">GLN.Study　<small><small>- HOME -</small></small></div>
  </div>

  <div id="container">
  <div id="content">
  {% if user.is_authenticated %}
    <big>ようこそ {{ user.get_username }} さん .</big>
    <br><br>
    <big>お知らせ</big>
    <br>
    2016.09.?? GLN.Study(Ver0.01)作成<br>
    python(3.4.3) ＋ Django(1.9.2) ＋ Bootstrap(3.2.1)で作成。<br>
    GeekLab-Naganoのイメージカラーが黒と黄色のため（名刺がその色）、全体的に黒と黄色で作成。<br>
    <br>
    <br>
    <p>
    <big>どのように作成したか。</big><br>
まず、垣田さんのQiitaからDjangoの勉強を試みてみたもの、なかなか、次のステップに進むことができなかった。というのは、コピペで動いても、そりゃ動くよね。程度でしかなかったため。そこで、会社からの勉強の提案もあり簡単な会社用のツール（備品管理らしきもの）を作ってみることとした。<br>
いざ作成しようとしてみると、なにから手をつけていいのやら、なかなか検討がつかなかった。そこで、HTMLでサンプル画面を作ってみようと考え、簡単な一覧画面（サンプル）をHTMLで書いてみた。もちろんデザイン的なところはなにもわからないため、あまり凝った画面ではない。<br>
少し凝った画面にしたい場合に、「じゃあbootstrapを使うともう少し感じのいい画面になるのかな？」ということにたどり着きbootstrapとは統一的なスタイルを提供しているものだということを知る。bootstrapを使ってみたところメニュー（ナビバー）などが簡単に作成できた。<br>
けど、bootstrapすぎるのはちょっと格好がよくないなと思い初め、ここでcssの出番ということにたどり着く。cssを自作することで画面デザインが変更できることがわかってきた。<br>
少しだけ、画面をどのように作るかわかってきたところで、次にDjangoに組み込んでみようと考えた。新しいプロジェクトを作り、まずは、単純なHTMLを表示してみようと考えた。サンプルHTMLをDjangoから起動するようにしてみたところ、表示することがわかった。<br>
なるほどね、なんとなく作り方がわかってきたような瞬間だった。<br><br>
    </p>
    <p>
    <big>どのように作成するか。</big><br>
まずは、画面の繊維や画面に何を表示するか、ある程度の仕様書があったほうが作成しやすいように感じる。<br>
次に、その画面（機能）の名称（アプリケーション名）を決定し、プロジェクトやアプリケーションの作成に入る。やっぱりこんな流れがいいかと思う。<br>
①ある程度の画面仕様書などをつくる。（ヘッダー部分・コンテンツ部分・フッター部分などの仕様を考える）<br>
②サンプルのHTMLを作成してみる。（bootstrapなどもできれば組み込んでみる）<br>
③全体のプロジェクト名を決める。画面（機能）単位に名称（アプリケーション名）を決める。<br>
④Djangoでプロジェクトを作成する。②のサンプルHTMLを表示してみる。<br>
⑤HTML表示部分にDjango（＋python）で機能を入れ込む。<br>
    <br>
    <br>
  {% else %}
    <br>
    <p>ログインしてください. </p>
  {% endif %}
  </div>
  </div>

{% endblock content %}

